@font-face {
  font-family: 'ultra-thin';
  src: url('./helvetica-neue-ultra-thin.otf') format('otf');
}
​
body {
  font-family: ultra-thin, sans-serif; !important;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.col-center {
  margin: auto !important;
  float: none !important;
}

.navbar-inverse .navbar-text {
  color: white;
}

#jumbotron {
  position: relative;
  text-align: center;
}

#keyword {
  width: 400px;
}
#searchBarPanel {
  padding: 10px;
  margin-top: 50px;
  text-align: center;
}

#reviews {
  width: 600px;
  margin-bottom: 80px !important;
}


#restaurantPicture {
  width: 100%;
  height: auto;
}
#write {
  width: 600px;
  margin-bottom: 10px;
}

#location {
  margin-bottom: 10px;
}

#star {
  color: rgb(251, 208, 49);
}
